
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html
<script src="https://kit.fontawesome.com/8da59f9c4f.js" crossorigin="anonymous"></script>
@Html
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<h1>
    <i class="fa fa-list-ul"></i>

    agregar nueva persona
</h1>

<div class="animate__animated animate__fadeInUpBig">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th></th>
                <Label for="nombre " <i class="fa fa-user-circle"></i>Nombre Persona</Label>
                <br />

                <input type="text" name="nombre" />
                <br />
                <Label for="edad "  <i class="fa fa-calendar-check"></i>Edad</Label>
                <br />

                <input type="text" name="edad" />
                <br />
                <Label for="descripcion " <i class="fa fa-file-alt"></i>Descripcion</Label>
                <br />

                <input type="text" name="descripcion" />
                <br />
                <br />
                <input type="submit" value="Enviar" />
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


