
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html
<script src="https://kit.fontawesome.com/8da59f9c4f.js" crossorigin="anonymous"></script>
@Html
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<div class="animate__animated animate__backInLeft">
    <h1>
        <i class="fa fa-list-ul"></i>

        agregar nueva persona
    </h1>
</div>


@using (Html.BeginForm("Guardar", "Home", FormMethod.Post))
{
 @addTagHelper 

}

